<h3>Solicita este servicio:</h3>

<form method="POST" enctype="multipart/form-data">
  <label>Apellido Paterno:</label>
  <input type="text" name="apellido_paterno" required><br>

  <label>Apellido Materno:</label>
  <input type="text" name="apellido_materno" required><br>

  <label>Nombre(s):</label>
  <input type="text" name="nombres" required><br>

  <label>Archivo PDF:</label>
  <input type="file" name="pdf_file" accept="application/pdf" required><br><br>

  <button type="submit">Enviar solicitud</button>
</form>